{% extends '::base.html.twig' %}
{% block title %}{{ entity.title }} | ricfrank blog{% endblock %}
{% block body -%}
    <h1 class="ArticleTitle">{{ entity.title }}</h1>
    <div class="ArticleBody">{{ entity.body }}</div>
    <div class="ArticleCreated">{{ entity.createdat|date('d/m/Y') }}</div>
    <ul class="record_actions">
        <li>
            <a href="{{ path('article') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('article_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
